#root {
    padding: 5%;
     font-size: 100%;
     color: rgb(200, 204, 81);
     text-align: center;
     text-shadow: 2px 2px rgb(134, 142, 223)
            
}

body { 
    background-color: #080833;
    color: #E8E34B;
    text-align: center;
}


h1 {color: #080833
}

.keybox {
    text-align: center;
    
}

.container{
    display: flex;
    justify-content: center;
}

fieldset {
    border: solid 2px white;
    border-radius: 10px;
    width: 30%;
    margin: 1%;
    padding: 1%;

}

input[type="text"] {
    
    width: 150px;
    background-color: white
}

input[type="number"]{
    width: 30px;
    background-color: #ffffff;
}

input[type="button"]{
    background-color: #080833;
    color: yellow;
    border: solid 2px yellow;
    padding: 5px;
}

footer{
    font-size: 80%;
    text-align: center;
    padding: 3%;

}
